DB_HOST=localhost
DB_PORT=3306
DB_USER=user
DB_PASSWORD=password
DB_NAME=npazs

MODX_SSH_HOST=localhost
MODX_SSH_PORT=22
MODX_SSH_USERNAME=user
MODX_SSH_PASSWORD=password
MODX_BASE_PATH=/var/www/html

OLLAMA_DEFAULT_MODEL=gemini-1.5-flash
OLLAMA_BASE_URL=http://localhost:11434
